.Person {
    width: 60%;
    margin: 3% auto;
    border: 1px solid white;
    box-shadow: 0 2px 3px #ccc;
    padding: 3%;
    text-align: center;
}

@media (min-width: 500px) {
    .Person {
        width: 80%;
    }
}

@media (max-width: 220px) {
    input {
        width: 80%
    }
}
